.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
}

.formContact {
  margin: auto;
  border: 2px solid rgb(0, 81, 128);
  border-radius: 8px;
  width: 320px;
  padding: 20px;
  margin-bottom: 40px;
}

.formLabel {
  text-align: start;
  display: block;
  margin-bottom: 8px;
  color: #066b84;
}

.formInputWrapper {
  position: relative;
}

.formInput {
  width: 94.2%;
  padding: 10px;
  border: 2px solid rgb(136, 138, 131);
  border-radius: 5px;
  background-color: #a3a5a3;
  color: #1127e9;
  font-size: 14px;
  margin-bottom: 24px;
}

.formErrorMessage {
  position: absolute;
  top: 38px;
  left: 6px;
  font-size: 14px;
  color: rgb(244, 52, 18);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

.formButton {
  background-color: #066b84;
  color: #001a00;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
