.homeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #066b84;
  font-size: 20px;
}

.homeLink:hover {
  color: #f3f9f3;
}

.link {
  font-weight: 700;
  color: #066b84;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  color: #00ff00;
}
