.contactItem {
  text-align: center;
  /* gap: 10px; */
  margin: 10px 0;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* display: flex; */
  /* flex-direction: column; */

  align-items: center;
  list-style: none;
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.contactContext span {
  font-size: 16px;
}
.contactContext {
  display: flex;
  align-items: center;
  justify-items: center;
}
.textWrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 15px;
  align-items: center;
}

.textWrapper :first-child {
  display: flex;
  gap: 10px;
  /* margin-bottom: 10px; */
}
.textWrapper :last-child {
  display: flex;
  gap: 10px;
}
.contact_List {
  padding: 0;
  padding-right: 20px;
  align-items: center;
  justify-items: center;
}
.btnWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.btn_Contact {
  /* width: 85px; */

  padding: 12px;
  background-color: #170eba;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}
