.item {
  text-align: center;
  gap: 10px;
  margin: 10px 0;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.contact {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.contact:first-child {
  margin-bottom: 10px;
}
.contact_List {
  padding: 0;
  padding-right: 20px;
}
