.list {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  display: flex;
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.ContactList {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
