.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.username {
  font-weight: 700;
}

.btnUser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: #170eba;
  color: white;
}
.btnUser :hover {
  background-color: #463df5;
}
